@charset "UTF-8";
/* Body */
body {
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	background-color: #f2f2f2;
	font-style: normal;
	font-weight: 200;
	margin: 0;
	color: #fff;
	width: 100%;
	height: 100%;
	background-image: url(../images/coding_background.jpg);
}

h3{ 
	margin: 0;
}

.hero {
	width: 100%;
	height: 100%;
	background-color: rgba(144,144,144,0.20);
}
.hero #title {
	background-color: rgba(144,144,144,0.50);
	/* [disabled]-webkit-box-sizing: content-box; */
	/* [disabled]-moz-box-sizing: content-box; */
	/* [disabled]box-sizing: content-box; */
	color: #FFFFFF;
	padding-top: 20px;
	padding-right: 10px;
	padding-bottom: 20px;
	padding-left: 60px;
}
.hero #links {
	width: 40%;
	padding-top: 100px;
	padding-bottom: 100px;
	margin-left: auto;
	margin-right: auto;
}
.hero #links #links_header {
	text-align: center;
	color: #FFFFFF;
}
.hero #links ul {
	color: #FFFFFF;
	list-style-type: none;
	margin: 0;
	padding: 0;
}


.hero #links ul a {
	color: #FFFFFF;
}
.hero #links .footer {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


.hero #links ul a:hover {
	color: #909090;
}
.hero .footer {
	width: 40%;
	padding-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
}
